# Data cleaning and preprocessing

In [1]:
import pandas as pd
import numpy as np

def clean_campaign_data(df):
    """
    Cleans the Campaign-Data.csv DataFrame by:
      - Normalizing column names
      - Stripping commas/dashes from numeric fields
      - Parsing dates
      - Creating a binary ‘Visit’ outcome
    """
    df_clean = df.copy()

    # 1) Normalize column names
    df_clean.columns = (
        df_clean.columns
        .str.strip()
        .str.replace(" ", "_", regex=False)
        .str.replace("(", "", regex=False)
        .str.replace(")", "", regex=False)
    )

    # 2) Numeric cleanup: remove commas, convert '-' to NaN
    cols_to_clean = [
        'Amount_Collected', 'Instagram', 'YouTube',
        'Campaign_Flyer', 'Sales_Contact_2', 'Sales_Contact_3'
    ]
    for col in cols_to_clean:
        if col in df_clean.columns:
            df_clean[col] = (
                df_clean[col]
                .astype(str)
                .str.replace(",", "", regex=False)
                .str.strip()
                .replace("-", np.nan)
                .astype(float)
            )

    # 3) Parse the date
    df_clean['Calendardate'] = pd.to_datetime(df_clean['Calendardate'], format='%d-%m-%Y')

    # 4) Create binary outcome
    df_clean['Visit'] = (df_clean['Unit_Sold'] > 0).astype(int)

    return df_clean

# —————— USAGE ——————
# Point this to where your file actually lives:
path = r"C:\Users\w0800598\Documents\Data-Science-Projects\MMM\Data\Campaign-Data.csv"
df = pd.read_csv(path)

# Clean it
df_cleaned = clean_campaign_data(df)

# Quick sanity check
print(df_cleaned.dtypes)
print(df_cleaned.head())

Client_ID                        object
Client_Type                      object
Number_of_Customers               int64
Monthly_Target                    int64
Zip_Code                          int64
Calendardate             datetime64[ns]
Amount_Collected                float64
Unit_Sold                         int64
Campaign_Email                    int64
Campaign_Flyer                  float64
Campaign_Phone                    int64
Facebook                          int64
Instagram                       float64
YouTube                         float64
TikTok                            int64
LinkedIn                          int64
Number_of_Competition            object
Visit                             int32
dtype: object
   Client_ID      Client_Type  Number_of_Customers  Monthly_Target  Zip_Code  \
0  ID-987275  Medium Facility                 2800             125      1003
1  ID-987275  Medium Facility                 2800             125      1003
2  ID-987275  Medium Facility                 2800             125      1003
3  ID-987275  Medium Facility                 2800             125      1003
4  ID-987275  Medium Facility                 2800             125      1003

  Calendardate  Amount_Collected  Unit_Sold  Campaign_Email  Campaign_Flyer  \
0   2014-01-16               NaN          0               0             0.0
1   2014-02-16         3409460.0         24               0             0.0
2   2014-03-18        10228384.0         75               0             0.0
3   2014-04-18        17047304.0        123               0             0.0
4   2014-05-19        23866224.0        171               0             0.0

   Campaign_Phone  Facebook  Instagram    YouTube  TikTok  LinkedIn  \
0               0         0        0.0        0.0       0         0
1               0         0        0.0        0.0       0    322500
2               0         0        0.0        0.0       0         0
3               0         0  3547500.0  1290000.0       0         0
4               0         0        0.0        0.0       0         0

  Number_of_Competition  Visit
0                   Low      0
1                   Low      1
2                   Low      1
3                   Low      1
4                   Low      1

In [2]:
df_cleaned.head()

,Client_ID,Client_Type,Number_of_Customers,Monthly_Target,Zip_Code,Calendardate,Amount_Collected,Unit_Sold,Campaign_Email,Campaign_Flyer,Campaign_Phone,Facebook,Instagram,YouTube,TikTok,LinkedIn,Number_of_Competition,Visit
0,ID-987275,Medium Facility,2800,125,1003,2014-01-16,NaN,0,0,0.0,0,0,0.0,0.0,0,0,Low,0
1,ID-987275,Medium Facility,2800,125,1003,2014-02-16,3409460.0,24,0,0.0,0,0,0.0,0.0,0,322500,Low,1
2,ID-987275,Medium Facility,2800,125,1003,2014-03-18,10228384.0,75,0,0.0,0,0,0.0,0.0,0,0,Low,1
3,ID-987275,Medium Facility,2800,125,1003,2014-04-18,17047304.0,123,0,0.0,0,0,3547500.0,1290000.0,0,0,Low,1
4,ID-987275,Medium Facility,2800,125,1003,2014-05-19,23866224.0,171,0,0.0,0,0,0.0,0.0,0,0,Low,1

# Feature Engineering

In [4]:
## Creation of Additional Features
df_cleaned['Calendardate']=pd.to_datetime(df_cleaned['Calendardate'])
df_cleaned['Calendar_Month']=df_cleaned['Calendardate'].dt.month
df_cleaned['Calendar_Year']=df_cleaned['Calendardate'].dt.year